/* - Profile - */
section#profile
{
    & > section
    {
        display:flex;
        flex-direction: row;
        margin-bottom:5rem;

        h3
        {
            width:25rem;
            max-width:25%;
            border-bottom:.7rem solid $clr-grey-text;
        }
    
        .text-area
        {
            border-left:.7rem solid $clr-grey-text;
            padding:1rem 2rem;

            p + p
            {
                margin-top:1em;
            }
        }
    }

    @include bp-medium
    {
        & > section
        {
            display:block;

            h3
            {
                width:100%;
                max-width:100%;
                padding:0 2rem;
                text-align:center;
                border:none;
            }
        
            .text-area
            {
                border-left:none;
            }
        }   
    }
}