html
{
    font-size:10px;
    font-family: 'Open Sans', sans-serif;
    color:$clr-grey-text;
}

body
{
    line-height: 1.25;
    background-color:$clr-grey-bg;
}



h1,
h2,
button,
label,
input[type=submit],
select
{
    @include text-headings;
}

h1
{
    font-size:4.8rem;
}
h2
{
    font-size:4.2rem;
}

input,
label,
select,
span,
li,
p
{
    font-size:2rem;
}

a
{
    text-decoration: none;
}

.error
{
    color:#d82020;
    font-weight:bold;
}

.success
{
    color:#44bd2c;
    font-weight:bold;
}